#card {
    width: 70%;
    margin: auto;
    margin-top: 50px;
}

#card h2 {
    font-size: 48px !important;
}

#card h3 {
    font-size: 24px !important;
}

#card img {
    margin-bottom: 20px;
    width: 100%;
}

#card h3, #card h4 {
    font-size: 24px;
    margin-bottom: 15px;
}

#card p {
    font-weight: 400 !important;
    font-size: 16px;
    line-height: 24px;
}

#col-4, #col-3 {
    display: grid;
    gap: 16px;
}

#col-4-header, #col-3-header {
    margin-bottom: 30px !important;
}

#col-4-header {
    margin-top: 30px !important;
}

#col-4 {
    grid-template-columns: repeat(4, 1fr);
}

#col-3-header {
    margin-top: 50px !important;
}

#col-3 {
    grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 768px) {
    #card {
        width: calc(100% - 15px);
    }

    h2 {
        font-size: 32px !important;
    }

    #col-4, #col-3 {
        column-gap: 15px;
        row-gap: 30px;
    }

    #col-4 {
        grid-template-columns: repeat(2, 1fr);
    }

    #col-3 {
        grid-template-columns: 1fr;
    }

    #col-4 h4, #col-3 h4 {
        margin-bottom: 5px;
    }

    #col-4 h4 {
        font-size: 16px !important;
    }

    #col-3 h4 {
        font-size: 20px !important;
    }

    #col-4 p, #col-3 p {
        font-size: 14px;
        line-height: 20px;
    }

    #col-4 p {
        font-size: 14px;
    }

    #col-3 p {
        font-size: 16px;
    }
}